html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: rgb(11, 24, 61);
    background-color: rgb(241, 80, 80);
    height: 3rem;
}

.header-left-side {
    display: flex;  
}

.header-right-side {
    display: flex;
}

.icon {
    height: 2rem;
}

.main-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-panel {

}

.content {
    
}

footer {
    text-align: center;
}