@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Fjalla+One&family=Oswald&family=Roboto&display=swap');

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 375px;
    margin: 0;
    padding: 0; 
}

:root {
    --header-color: rgb(241, 80, 80);
}

.main-title {
    color: #ff8a8a;
    justify-self: right;
    align-self: top;
    font-size: 32px;
}

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: rgb(11, 24, 61);
    background-color: var(--header-color);
    height: 3rem;
    align-items: center;
}

.header-left-side {
    display: flex;  
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.header-right-side {
    display: flex;
    gap: 0.5rem;
    margin-right: 0.5rem;
}

.icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

#searchbar {
    border: none;
    border-bottom: 1px solid white;
    background-color: var(--header-color);
    color: rgb(253, 225, 225);
    outline: none;
}

input::placeholder {
    color: white;
}

svg {
    color: rgb(253, 225, 225);
}

.modal,
.myProjectModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
    overflow: auto;  
}

.myProjectModal::placeholder {
    color: black;
}

.modal-content {
    background-color: white;
    padding: 2rem 4rem;
    border: 1px solid #888;
    width: 700px;
    max-width: 700px;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 10%;
    background: rgb(216, 216, 216);
}

label {
    color: rgb(73, 73, 73);
}

#title::placeholder {
    color: #888; 
}

#project-name::placeholder {
    color: #888;
}

.description-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    padding: 1rem;
}

.form-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.form-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input, 
textarea {
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(216, 216, 216);
}

.close {
    color: #aaa;
    position: relative;
    bottom: 15px;
    left: 35px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.main-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.side-panel {
    padding-top: 1rem;
}

.project-list {
    cursor: pointer;
}

.add-project-button {
    background-color: white;
    color: rgb(226, 80, 80);
    border: none;
    margin: 0rem 2rem;
    cursor: pointer;
}

.content {
    display: grid;
    padding: 2rem;
    grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: fit-content;
    width: fit-content;
    padding: 0rem 1rem;
    font-size: 14px;
    margin-bottom: 1px;
}

.todo-checkbox {
    display: flex;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    margin-right: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#todo-title {
    color: black;
    margin-bottom: -0.7rem;
}

.todo-info {
    color: #888;
}

.todo-stats {
    display: flex;
    margin-top: -1rem;
    gap: 1rem;
}

#todo-date {
    color: rgb(70, 70, 207);
}

#todo-time {
    color: rgb(19, 167, 19);
}

footer {
    text-align: center;
}