html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

:root {
    --header-color: rgb(241, 80, 80);
}

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: rgb(11, 24, 61);
    background-color: var(--header-color);
    height: 3rem;
    align-items: center;
}

.header-left-side {
    display: flex;  
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.header-right-side {
    display: flex;
    gap: 0.5rem;
    margin-right: 0.5rem;
}

.icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

#searchbar {
    border: none;
    border-bottom: 1px solid white;
    background-color: var(--header-color);
    color: rgb(253, 225, 225);
    outline: none;
}

input::placeholder {
    color: white;
}

svg {
    color: rgb(253, 225, 225);
}

.main-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-panel {

}

.content {
    
}

footer {
    text-align: center;
}